.cardHolderH{
  display: flex;
  /*set the main axis to be vertical*/
  flex-direction: column;
  /*center align items on the cross axis*/
  align-items: center;
}

.card-image {
  max-width:20em;
  min-width: 100%;
  max-height: 20em;
  min-height: 100%;
}

.card-feed {
  display: flex;
  /*set the main axis to be vertical*/
  flex-direction: column;
  /*center align items on the cross axis*/
  align-items: center;
  /* margin: 2em; */
  margin-bottom: 2em;
  max-width: 50em;
  /* border-radius: 0.5em;     */
  box-shadow: 0.4em 0.4em;
  align-items: center;
  background: var(--background);

  width: 50em;
  height: 25em;

  justify-content: center;
  overflow: hidden;
  perspective: 100em;
  transition: all .3s ease;
}

.card-feed:hover {
  transform: scale(1.05);
  box-shadow: 0 0.05em 0.05em rgba(255, 255, 255, 0.2);
}

.card-content {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  backdrop-filter: blur(0.5em);
  background-color: rgb(255, 255, 255, .5);
  transition: all .2s ease;
  color: var(--primary-text);
  text-align: center;

  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.card-feed:hover .card-content {
  bottom: 0;
}

.card-title {
  font-family: 'Spiderman';
  margin: 0;
  font-size: 2em;
  font-weight: 700;
}

.card-description {

}

.card-heading {
  font-family: 'Spiderman';
  font-size: 2em;
  font-weight: 700;
  background-color: #447BBE;
  margin-bottom: 0.25em;
}

.card-heading-time {
  margin: 20%;
  font-size: 0.5em;
}