/* import the spiderman font */
@font-face {
  font-family: 'Spiderman';
  src: url('./Comback-Home.ttf');
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;  
  --primary: #B11313;
  --primary-text: rgb(69, 0, 0);
  --primary-alt: #DF1F2D;
  --secondary: #2B3784;
  --secondary-alt: #447BBE;
  --content: #FFF;
  --background: #F3F3F3;
  --text: #000;
  --on-background: #E1E1E1;
  --test: #AAA;

  --card-width: 100%;
  --card-height: 20rem;

  --loader-width: 5rem;
  --loader-height: 5rem;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background);
  background-image: linear-gradient(0deg, transparent 24%, var(--on-background) 25%, var(--on-background) 26%, transparent 27%, transparent 74%, var(--on-background) 75%, var(--on-background) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--on-background) 25%, var(--on-background) 26%, transparent 27%, transparent 74%, var(--on-background) 75%, var(--on-background) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  text-align: center;
  font-family: 'Spiderman';
  font-size: 3em;
  margin: 0 1em 0 0;
}

figure {
  margin: 0;
}

.hidden {
  display: none !important;
}

.blur {
  filter: blur(5px);
}

label {
  margin-bottom: 10px;
}

main {
  max-width: 100%;
}

pre {
  white-space: pre-wrap;
}

/* ============
   LOADER
   ============ */

#loader {
  position: fixed;
  left: calc(50% - calc(var(--loader-width) / 2));
  top: calc(50% - calc(var(--loader-height) / 2));
  width: var(--loader-width);
  height: var(--loader-height);
  border: .5rem solid var(--on-background);
  border-radius: 50%;
  border-top: .5rem solid var(--primary);
  border-bottom: .5rem solid var(--secondary-alt);
  animation: spin 2s linear infinite;
  z-index: 99;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ============
   LOGIN BUTTON STYLES
   ============ */

#btn-login {
  color: var(--content);
  cursor: pointer;
  border: 0.15em solid var(--primary);
  border-radius: 0.4em;
  padding: 0.8em 2em;
  background: var(--primary);
  transition: 0.3s;
  margin: 0;
}

#btn-login:hover {
  transform: translate(-0.25em, -0.25em);
  background: var(--secondary);
  box-shadow: 0.25em 0.25em var(--primary);
}

#btn-login:active {
  transform: translate(0);
  box-shadow: none;
}

/* mobile */

@media screen and (max-width: 1030px) {

  #loader {
    width: calc(var(--loader-width) / 2);
    height: calc(var(--loader-height) / 2);
    border: .3rem solid var(--on-background);
    border-top: .3rem solid var(--primary);
    border-bottom: .3rem solid var(--secondary-alt);
  }

}