:root {
    --primary: #B11313;
    --primary-alt: #DF1F2D;
    --secondary: #2B3784;
    --secondary-alt: #447BBE;
    --content: #FFF;
    --background: #F3F3F3;
    --text: #000;
    --on-background: #E1E1E1;
}

nav {
    width: 100%;
    container: navigation / inline-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Menu */
.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu>li {
    background: var(--text);
    position: relative;
    transform: skewX(25deg);
    width: 10em;
    text-align: center;
    transition: all .2s ease;
}

.menu button {
    display: block;
    width: 100%;
    color: var(--content);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu>li:hover {
    background: var(--primary);
}

.menu>li>button {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

.nav-login, .nav-home {
    transition: all 0.2s ease;
}

.nav-login:hover {
    transform: skewX(25deg) translateX(.5em);
}

.nav-home:hover {
    transform: skewX(25deg) translateX(-0.5em);
}

/* Dropdown */
.submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
}

.menu > li .submenu>li {
    background: var(--secondary-alt);
    width: 13em;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
}

.menu > li .submenu>li:hover {
    background: var(--primary);
}

.submenu>li>button {
    padding: 1em 2em;
}

.submenu>li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}

.submenu>li:nth-child(odd) {
    transform: skewX(-25deg) translateX(0);
}

.submenu>li:nth-child(odd)>button {
    transform: skewX(25deg);
}

.submenu>li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}

.submenu>li:nth-child(even) {
    transform: skewX(25deg) translateX(0);
}

.submenu>li:nth-child(even)>button {
    transform: skewX(-25deg);
}

.submenu>li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.menu>li:hover .submenu,
.menu>li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}

.menu>li:hover .submenu li:nth-child(even) {
    transform: skewX(25deg) translateX(15px);
}

.menu>li:hover .submenu li:nth-child(odd) {
    transform: skewX(-25deg) translateX(-15px);
}

/* mobile */

@media screen and (max-width: 1030px) {

    .menu,
    .submenu {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
    }

    h1 {
        font-size: 2.5em;
        margin-right: 0;
        margin-bottom: .5em;
    }

    .menu>li {
        transition: all 0.2s ease;
    }

    .menu>li:nth-child(2):hover~li:nth-last-child(-n+3) {
        opacity: 0;
        visibility: hidden;
    }
}