/* import the spiderman font */
@font-face {
    font-family: 'Spiderman';
    src: url('./Comback-Home.ttf');
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
} */

.card {
  /*width: var(--card-width);
  height: var(--card-height);*/
  max-width: 1000px;
  max-height: calc(1000px * 9 / 16);
  width: 90vw;
  /*height: calc(90vw * 9 /16);*/
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: var(--background);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
  font-family: 'Spiderman';
  font-size: 16pt;
  margin-top: 1em;
  margin-bottom: 1em;
}

.card::before {
  content: "";
  width: var(--card-width);
  height: 6rem;
  position: absolute;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 3px solid #fefefe;
  background: var(--secondary-alt);
  transition: all 0.3s ease;
}

.card * {
  z-index: 1;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: var(--secondary-alt);
  border-radius: 50%;
  border: 4px solid #fefefe;
  transition: all 0.3s ease;
  overflow: hidden;
}

#cardAvatar {
  width: 100%;
  height: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.card-info span {
  font-weight: 600;
  font-size: 24px;
  color: var(--text);
  margin-top: 15px;
  line-height: 5px;
}

.card-info p {
  color: rgba(0, 0, 0, 0.7);
  margin: .5em;
}

.button {
  color: var(--content);
  cursor: pointer;
  border: 0.15em solid var(--background);
  border-radius: 0.6em;
  padding: 0.6em 1.5em;
  background: var(--secondary-alt);
  transition: 0.3s;
  margin: 0;
  width: 20em;
}

.button:hover {
  transform: translate(-0.25em, -0.25em);
  box-shadow: 0.25em 0.25em var(--primary-alt);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.card:hover::before {
  width: var(--card-width);
  height: var(--card-height);
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scaleX(calc(var(--card-width) * 0.975)) scaleY(0.95);
}

.card:hover .card-info {
  transform: translate(0%, -25%);
}

.card:hover {
  background-color: var(--primary-alt);
}

.card:hover .image {
  border: 4px solid var(--primary-alt);
}

.card .card-info span,
.card .card-info p {
  transition: all 0.3s ease;
}

.card:hover .card-info span,
.card:hover .card-info p {
  color: white;
}

.card:hover .image {
  transform: scale(2) translate(0%, -40%);
}

/*Search Function stuff*/

.checkbox-con {
  margin: 10px;
  display: inline-block;
  align-items: center;
  color: white;
}

.checkbox-con input[type="checkbox"] {
  appearance: none;
  width: 48px;
  height: 27px;
  border: 2px solid #ff0000;
  border-radius: 20px;
  background: #f1e1e1;
  position: relative;
  box-sizing: border-box;
}
   
.checkbox-con input[type="checkbox"]::before {
  content: "";
  width: 14px;
  height: 14px;
  background: rgba(234, 7, 7, 0.5);
  border: 2px solid #ea0707;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(13%, 15%);
  transition: all 0.3s ease-in-out;
}
  
.checkbox-con input[type="checkbox"]:checked {
  border: 2px solid #02c202;
  background: #e2f1e1;
}
  
.checkbox-con input[type="checkbox"]:checked::before {
  background: rgba(2, 194, 2, 0.5);
  border: 2px solid #02c202;
  transform: translate(133%, 13%);
  transition: all 0.3s ease-in-out;
}
   
.checkbox-con input[type="checkbox"]:checked::after {
  position: absolute;
  top: 5px;
  left: 5px;
}
   
.checkbox-con label {
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
  }

#dateForm {
  display: none;
  transition: all 0.3s ease-in-out;
}

#dateForm.show {
  display: block;
}

