.custom-file-upload {
    display: block;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    gap: 0.5em;
    cursor: pointer;
    justify-content: center;
    border: 0.125em dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.7em;
    border-radius: 1.5em;
    padding: 0.2em 0.2em 0.2em 1.2em;
}

.custom-file-upload:hover {
    transform: scale(1.1);
}

.custom-file-upload .UploadIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.custom-file-upload .UploadIcon svg {
    height: auto;
    width: (1.1em, 0.7153rem + 1.6368vw, 3em);
    fill: rgba(75, 85, 99, 1);
}

.custom-file-upload .text {
    display: block;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .text span {
    font-weight: 400;
    font-size: calc(1.6em+ 1vmin);
    font-family: 'Spiderman';
    color: rgba(75, 85, 99, 1);
}

.custom-file-upload input {
    display: none;
}

/* main {
    width: clamp(10em, 90vw, 60em);
} */

/* FORM Below */
#SightingForm {
    max-width: 1000px;
    width: 90vw;
    background-image: url('../img/spiderman-night-scene-chromebook-wallpaper.jpg');
    background-size: cover;
    gap: 0.5em;
    border-radius: 0.5em;
    border: 0.125em solid var(--primary-alt);
    box-shadow: 0.4em 0.4em var(--primary);
    position: relative;
    background-repeat: no-repeat;
    z-index: 1;
    transition: all .2s ease;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SightingForm::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    z-index: -1;
}

#InputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#SightingForm p {
    display: block;
}

.formTitle {
    font-family: 'Spiderman';
    color: var(--background);
    font-weight: 900;
    font-size: clamp(1.5rem, -0.875rem + 9.333vw, 4rem);
    white-space: nowrap;
    margin: 0.4em 0 0 0;
    align-items: center;
}

.subTitle {
    font-family: 'Spiderman';
    color: var(--background);
    justify-content: center;
    font-weight: 700;
    margin: 0%;
    font-size: clamp(1rem, -0.875rem + 7.333vw, 2.5rem);
    white-space: nowrap;
}

.input {
    width: 80vw;
    border-radius: 0.2em;
    border: 0.05em solid var(--text);
    background-color: var(--primary-alt);
    box-shadow: 0.1em 0.1em var(--background); 
    font-size: 3em;
    font-weight: 100;
    font-family: 'Spiderman';
    color: var(--background);
    outline: none;
    padding: 0.2em 0.2em 0.2em 1.2em;
    margin-bottom: 0.5em;
    transition: all .2s ease;
}

input[type="datetime-local"] {
    padding-left: 1.2em;
    color: rgba(255, 255, 255, 0.8);
}

.input:hover {
    transform: scale(1.06);
}

.input::placeholder {
    color: var(--background);
    opacity: 0.8;
}

.input:focus {
    border: 0.085em solid var(--background);
}

.inputLabel {
    display: block;
    font-family: 'Spiderman';
    color: var(--content);
    font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
    flex-direction: row;
    justify-content: flex-start;
}

#InputContainer {
    margin-bottom: 2em;
}

.button-confirm {
    display: inline-block;
    margin: 2em auto 0 auto;
    min-width: 4em;
    height: 4.5em;
    border-radius: 0.7em;
    border: 0.125em solid var(--text);
    background-color: var(--primary);
    box-shadow: 4px 4px var(--font-color);
    color: var(--content);
    cursor: pointer;
    white-space: nowrap;
}

.button-confirm p {
    margin: 0;
    font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 3rem);
    font-weight: 300;
    font-family: 'Spiderman';
    white-space: nowrap;
}

.button-confirm:hover {
    background-color: var(--secondary-alt);
    box-shadow: 4px 4px var(--font-color);
    transform: scale(1.1);
}

.button-confirm:active {
    background-color: var(--secondary);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

